<div class="container">
  <div class="question">
    <nz-breadcrumb class="breadCrumb">
      <nz-breadcrumb-item><a>Асосий саҳифа</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>Янгиликлар</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>"Унутилмас саёҳатни ютиб олинг"</nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-collapse nzAccordion>
      <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panel.title" [nzActive]="panel.active">
        <p class="ask">{{ panel.name }}</p>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
</div>
