<div class="banner">
  <div class="container">
    <h1 class="banner__title">
      Керакли махсулотларни Фермерлардан харид қилинг
    </h1>
    <p class="banner__subtitle">Харидни бизнинг сервис орқали амалга оширинг</p>
    <button class="banner__btn" nz-button nzType="primary">Харидни бошлаш</button>
    <div class="banner__cards">
      <div class="banner__cards-item">
        <img src="../../../../../assets/banner-card1.svg" alt="card" />
      </div>
      <div class="banner__cards-item">
        <img src="../../../../../assets/banner-card2.svg" alt="card" />
      </div>
      <div class="banner__cards-item">
        <img src="../../../../../assets/banner-card-3.svg" alt="card" />
      </div>
      <div class="banner__cards-item">
        <img src="../../../../../assets/banner-card4.svg" alt="card" />
      </div>
    </div>
  </div>
</div>
