<nz-carousel  class="banner-carousel" #myIdentifier style="height: 532px">
  <div nz-carousel-content *ngFor="let item of carousels">
    <div class="banner" style="background-image: url({{item.bannerBg}})">
      <div class="container">
        <h1 class="banner__title">
          {{item.header}}
        </h1>
        <p class="banner__subtitle">{{item.comment}}</p>
        <button class="banner__btn" nz-button nzType="primary">{{item.btnText}}</button>
        <div nz-row [nzGutter]="[10, 10]" class="banner__cards" style="margin: 0" style="height: 300px">
          <div nz-col [nzMd]="6" [nzSm]="12" [nzXs]="12" class="banner__cards-item" *ngFor="let card of cards">
            <img width="100%" src="{{card.src}}" alt="card"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</nz-carousel>

<!--<div class="banner__cards">
  <div class="banner__cards-item">
    <img src="../../../../../assets/banner-card1.svg" alt="card" />
  </div>
  <div class="banner__cards-item">
    <img src="../../../../../assets/banner-card2.svg" alt="card" />
  </div>
  <div class="banner__cards-item">
    <img src="../../../../../assets/banner-card-3.svg" alt="card" />
  </div>
  <div class="banner__cards-item">
    <img src="../../../../../assets/banner-card4.svg" alt="card" />
  </div>
</div>-->

