<div class="promo">
    <div class="container">
        <div class="promo__block">
            <div class="promo__desc">
                <h3>Сотишни хохлайсизми?</h3>
                <p>Ўзингизнинг маҳсулотингиз ёки хизматингиз борми? Сиз уни бизнинг платформамизда сотишни бошлашингиз мумкин.</p>
                <button nz-button nzType="default">Сотувни бошлаш</button>
            </div>
            <div class="promo__img">
                <img src="../../../../../assets/promo-Mobile.svg" alt="mobile">
                <div class="promo__info">
                    <div class="promo__info-top">
                        <p>Товарнинг батафсил тавсифи</p>
                        <img src="../../../../../assets/info-line.svg" alt="info">
                    </div>
                    <div class="promo__info-bottom">
                        <p>Фючерслар, тендерлар, сотиб олиш ва сотиш</p>
                        <img src="../../../../../assets/info-line.svg" alt="info">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>