<div class="myRequest">
  <div class="myRequest__header" nz-row nzJustify="space-between" nzAlign="middle">
    <h3 class="myRequest__header-title">Харидор сўровлари</h3>
    <div class="myRequest__header-filter">
      <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">Барчаси <i nz-icon nzType="down"></i></a>
    </div>
  </div>
  <div class="myRequest__content" *ngFor="let item of cardsRequests">
    <div class="myRequest__content__card" nz-row [nzGutter]="[5,0]">
      <img nz-col nzSm="6" nzXs="6" nzMd="3" src="{{item.imageUrl}}" alt="card request">
      <div nz-col nzSm="18" nzXs="18" nzMd="7" class="myRequest__content__description">
        <h4 class="myRequest__content__description-title">{{item.title}}</h4>
        <span (click)="showModal(item.id)" class="myRequest__content__description-id">{{item.requestID}}</span>
      </div>
      <div nz-col nzSm="12" nzXs="12" nzMd="5" class="myRequest__content__info">
        <h4 class="myRequest__content__info-name">{{item.supplierName}}</h4>
        <span class="myRequest__content__info-supplier">{{item.supplierCompany}}</span>
      </div>
      <div nz-col nzSm="12" nzXs="12" nzMd="4" class="myRequest__content__count">
        <h4 class="myRequest__content__count-price">{{item.price}} сум</h4>
        <span class="myRequest__content__count-weight">{{item.weight}} Килограмм</span>
      </div>
      <div nz-col nzSm="24" nzXs="24" nzMd="5" class="myRequest__content__status">
        <span
          [ngClass]="{'failure': item.status.id === 1, 'waiting': item.status.id === 2, 'successfully': item.status.id === 3}">{{item.status.text}}</span>
      </div>

    </div>
  </div>
  <nz-pagination class="myRequest__pagination" [nzPageIndex]="1" [nzTotal]="500" nzHideOnSinglePage></nz-pagination>
</div>


<!--FILTER DROPDOWN-->
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item>Барчаси</li>
    <li nz-menu-item>Қабул қилинди</li>
    <li nz-menu-item>Бекор қилинди</li>
    <li nz-menu-item>Янги сўров</li>
  </ul>
</nz-dropdown-menu>

<!--MODAL-->
<div *ngFor="let item of temp" class="requestModal">
  <nz-modal [(nzVisible)]="isVisible" nzTitle="{{item.requestID}}" (nzOnCancel)="handleCancel()"
            (nzOnOk)="handleOk()">

    <ng-container *nzModalContent>


      <div class="requestInfo">


        <div class="requestInfo__about" nz-row nzGutter="20" nzAlign="middle">
          <div nz-col nzSm="5" nzXs="24">
            <img src="../../../../../assets/profile/profileInfoImg.jpg" alt="user avatar">
          </div>
          <div nz-col nzSm="14" nzXs="24" class="requestInfo__titles">
            <h4>{{item.legalInfo.name}}</h4>
            <span>{{item.legalInfo.company}}</span>
          </div>
          <nz-space nz-col nzSm="5" nzXs="8" class="requestInfo__about__contacts">
            <button *nzSpaceItem nz-button nzType="default" nzShape="circle">
              <i nz-icon nzType="message" nzTheme="outline"></i>
            </button>
            <button *nzSpaceItem nz-button nzType="default" nzShape="circle">
              <i nz-icon nzType="phone" nzTheme="outline"></i>
            </button>
          </nz-space>
        </div>


        <nz-collapse nzGhost class="colapse-modal">
          <nz-collapse-panel
            nzHeader="Реквизиты"
            nzActive="false"
          >
            <div class="legalyInfo">
              <div class="row-1" nz-row>
                <div nz-col nzXs="24" nzSm="8">
                  <span>Вилоят</span>
                  <h5>{{item.legalInfo.region}}</h5>
                </div>
                <div nz-col nzXs="24" nzSm="16">
                  <span>Банк МФО си</span>
                  <h5>"{{item.legalInfo.bank}}</h5>
                </div>
              </div>
              <div class="row-1" nz-row>
                <div nz-col nzXs="24" nzSm="8">
                  <span>Туман</span>
                  <h5>{{item.legalInfo.district}}</h5>
                </div>
                <div nz-col nzXs="24" nzSm="11">
                  <span>Хисоб рақами</span>
                  <h5>{{item.legalInfo.xisobRakami}}</h5>
                </div>
                <div nz-col nzXs="24" nzSm="5">
                  <span>СТИР</span>
                  <h5>{{item.legalInfo.stir}}</h5>
                </div>
              </div>
              <div class="row-1">
                <div>
                  <span>Манзил</span>
                  <h5>{{item.legalInfo.adres}}</h5>
                </div>
              </div>
            </div>
          </nz-collapse-panel>
        </nz-collapse>
        <div class="requestInfo__product">
          <h3 class="requestInfo__product__title">Маҳсулот</h3>
          <div class="requestInfo__product__item" nz-row [nzGutter]="[13, 0]" nzAlign="middle">
            <img nz-col nzSm="5" src="{{item.imageUrl}}" alt="product image">
            <h4 nz-col nzXs="24" nzSm="19" class="requestInfo__product__item-name">{{item.title}}</h4>
          </div>
          <div class="requestInfo__product__info">
            <div class="requestInfo__product__info-price myStroke" nz-row>
              <span nz-col nzXs="24" nzSm="14" class="myStroke__title">Нархи (сум)</span>
              <span nz-col nzXs="24" nzSm="10">{{item.price| number:"1.2-2"}}</span>
            </div>
            <div class="requestInfo__product__info-weight myStroke" nz-row>
              <span nz-col nzXs="24" nzSm="14" class="myStroke__title">Миқдори</span>
              <span nz-col nzXs="24" nzSm="10">{{item.weight| number:"1.2-2"}} килограмм</span>
            </div>
            <div class="requestInfo__product__info-summary myStroke" nz-row>
              <span nz-col nzXs="24" nzSm="14" class="myStroke__title">Жами</span>
              <span nz-col nzXs="24" nzSm="10">{{(item.price * item.weight)| number:"1.2-2"}} сўм</span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <div *nzModalFooter nz-row nzJustify="space-around">
      <button nz-col nzSpan="11" nz-button nzBlock nzSize="default" nzShape="round" nzType="default"
              (click)="handleCancel()">Бекор қилиш
      </button>
      <button nz-col nzSpan="11" nz-button nzBlock nzSize="default" nzShape="round" nzType="primary"
              (click)="handleOk()" [nzLoading]="isConfirmLoading">Қабул қилиш
      </button>
    </div>
  </nz-modal>
</div>
