<div nz-card-grid class="itemCard">
  <img src="../../../../../assets/card1.jpg" alt="cardImage">
  <h3 class="itemCard__title">Қизил Юсуф памидори Самарқанд махсулоти</h3>
  <p class="itemCard__subtitle">МЧЖ "AvtoServisGroup"</p>
  <div class="itemCard__calc">
    <div class="itemCard__calc-price">
      <p class="price">4 590 000</p>
      <span>сум / кг</span>
    </div>
    <div class="itemCard__calc-count">
      <button nz-button nzType="default" nzShape="circle"><i nz-icon nzType="minus" nzTheme="outline"></i></button>
      <span class="count">1000</span>
      <button nz-button nzType="default" nzShape="circle"><i nz-icon nzType="plus" nzTheme="outline"></i></button>
    </div>
    <button class="submit__item" nz-button nzType="default" nzSize="large" nzShape="round">
      Оставить заявку
    </button>
    <div class="itemCard__icons">
      <button nz-button nzType="text"><i nz-icon nzType="message" nzTheme="outline"></i></button>
      <button nz-button nzType="text"><i nz-icon nzType="heart" nzTheme="outline"></i></button>
      <button nz-button nzType="text"><i nz-icon nzType="phone" nzTheme="outline"></i></button>
    </div>
  </div>
</div>
