<!--<div class="profileSidebar">
  <ul class="profileSidebar__menu" nz-menu>
    <li class="profileSidebar__menu-list" nz-menu-item nzSelected><a>Профиль</a></li>
    <li class="profileSidebar__menu-list" nz-menu-item><a>Махсулотлар</a></li>
    <li class="profileSidebar__menu-list" nz-menu-item><a><span>Витрина</span>
      <nz-badge nzStandalone [nzCount]="4"></nz-badge>
    </a></li>
    <li class="profileSidebar__menu-list" nz-menu-item><a><span>Хабарлар</span>
      <nz-badge nzStandalone [nzCount]="1"></nz-badge>
    </a></li>
    <li class="profileSidebar__menu-list" nz-menu-item><a><span>Онлайн консултант</span>
      <nz-badge nzStandalone [nzCount]="1"></nz-badge>
    </a></li>
  </ul>
</div>-->


<div class="profileSidebar">
  <ul nz-menu nzMode="inline" class="profileSidebar__menu">
    <li class="profileSidebar__menu-list" nz-menu-item><a [routerLink]="['/profile']">Профиль</a></li>
    <li class="profileSidebar__menu-list" nz-menu-item><a>Махсулотлар</a></li>
    <li class="submenu-list" nz-submenu nzTitle="Сўровлар">
      <ul>
        <li class="profileSidebar__menu-list" nz-menu-item><a><span>Менинг сўровларим</span>
          <nz-badge nzStandalone [nzCount]="3"></nz-badge>
        </a></li>
        <li class="profileSidebar__menu-list" nz-menu-item><a><span>Харидор сўровлари</span>
          <nz-badge nzStandalone [nzCount]="4"></nz-badge>
        </a></li>
      </ul>
    </li>
    <li class="profileSidebar__menu-list" nz-menu-item><a><span>Хабарлар</span>
      <nz-badge nzStandalone [nzCount]="1"></nz-badge>
    </a></li>
    <li class="profileSidebar__menu-list" nz-menu-item><a><span>Онлайн консултант</span>
      <nz-badge nzStandalone [nzCount]="1"></nz-badge>
    </a></li>
  </ul>
</div>
