<div class="container">
  <nz-breadcrumb class="breadCrumb">
    <nz-breadcrumb-item class="breadcrumb__text">
      <a [routerLink]="['/']">Асосий саҳифа</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item class="breadcrumb__text">Уруғлар</nz-breadcrumb-item>
    <nz-breadcrumb-item class="breadcrumb__text">Сабзавот уруғлари</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div class="categoryList">
    <div class="categoryList__header">
      <i class="categoryList__header-arrow" nz-icon nzType="left" nzTheme="outline"></i>
      <h1 class="categoryList__header-title">Сабзавот уруғлари</h1>
      <div class="categoryList__header-subtitle">211 маҳсулотлари</div>
    </div>
    <div class="categoryList__main" nz-row>
      <form nz-form class="categoryList__main-filter" nz-col nzSpan="5">
        <div class="categoryList__main-subcategory">

        </div>
      </form>
      <div class="categoryList__main-items" nz-col nzSpan="19">

      </div>
    </div>
  </div>
</div>


<!--
<ul nz-menu nzMode="inline">
          <li nz-submenu nzTitle="Navigation Three" nzIcon="setting">
            <ul>
              <li nz-menu-item>Option 11</li>
              <li nz-menu-item>Option 12</li>
              <li nz-menu-item>Option 13</li>
            </ul>
          </li>
        </ul>
        -->
