<div class="newsCard">
  <h1 class="newsCard__title">Банкоматларда техник ишлар олиб борилмоқда!</h1>
  <p class="newsCard__desc">
    Виса билан ҳамкорликада "Унутилмас саёҳатни ютиб олинг" аксиясини еълон қиламиз.
    <br>
    Ендиликда сиз 1000 АҚШ доллари миқдоридаги унутилмас саёҳат сертификатини ютиб олишингиз мумкин.
    <br>
    Шартлар оддий: Россиядан жўнатилган пул ўтказмасини Агробанк Виса картангизга қабул қилишингиз кифоя.
    <br>
    Ғолиблар сони 4 та.
    <br>
    Аксияда 18 ёшга тўлган Ўзбекитоннинг барча фуқаролари иштирок етишлари мумкин.
    <br>
    Аксиямиз 16 -октабргача бўлиб ўтади.
    <br>
    Батафсил маълумотга ега бўлиш учун офертани юклаб олинг!
  </p>
  <div class="newsCard__info">
    <span class="newsCard__info-date">14.09.2021</span>
    <span class="newsCard__info-view"><i nz-icon nzType="eye" nzTheme="fill"></i>501</span>
  </div>
  <div class="newsCard__shareLink">
    <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
      <i nz-icon nzType="share-alt" nzTheme="outline"></i>
      Янгиликни бўлишиш
    </a>
  </div>
</div>


<!--
<p class="newsCard__desc">
  Виса билан ҳамкорликада "Унутилмас саёҳатни ютиб олинг" аксиясини еълон қиламиз.
  <br>
  Ендиликда сиз 1000 АҚШ доллари миқдоридаги унутилмас саёҳат сертификатини ютиб олишингиз мумкин.
  <br>
  Шартлар оддий: Россиядан жўнатилган пул ўтказмасини Агробанк Виса картангизга қабул қилишингиз кифоя.
  <br>
  Ғолиблар сони 4 та.
  <br>
  Аксияда 18 ёшга тўлган Ўзбекитоннинг барча фуқаролари иштирок етишлари мумкин.
  <br>
  Аксиямиз 16 -октабргача бўлиб ўтади.
  <br>
  Батафсил маълумотга ега бўлиш учун офертани юклаб олинг!
</p>-->


<!--SHARE DROPDOWN-->
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item>1st menu item</li>
    <li nz-menu-item>2nd menu item</li>
    <li nz-menu-divider></li>
    <li nz-menu-item nzDisabled>disabled menu item</li>
    <li nz-submenu nzTitle="sub menu">
      <ul>
        <li nz-menu-item>3rd menu item</li>
        <li nz-menu-item>4th menu item</li>
      </ul>
    </li>
    <li nz-submenu nzDisabled nzTitle="disabled sub menu">
      <ul>
        <li nz-menu-item>3rd menu item</li>
        <li nz-menu-item>4th menu item</li>
      </ul>
    </li>
  </ul>
</nz-dropdown-menu>
