<div class="container">
  <div class="about-banner">
    <nz-breadcrumb class="breadcrumb">
      <nz-breadcrumb-item class="breadcrumb__text">
        <a>Асосий саҳифа</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item class="breadcrumb__text">Лойиҳа ҳақида</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="a-banner">
      <div class="a-banner__darken">
        <h1 class="a-banner__title">
          Лойиҳа ҳақида
        </h1>
        <p class="a-banner__subtitle">
          Агро бизнес учун қулай бўлган ягона махсус сервис
        </p>
      </div>
    </div>
  </div>
</div>
